* {
  margin: 0;
  padding: 0
}

body {
  padding: 2em;
  width: 80%;
  margin: 0 auto;
  background-color: #2a292a;
  color: #f5f5f5;
  font: 16px/1.618 "Roboto", sans-serif
}

div#log {
  overflow-x: auto
}

table {
  font-family: "Roboto Mono", monospace;
  border: 1px solid #f5f5f5;
  overflow-x: auto;
  white-space: nowrap
}

table th {
  text-align: left
}

td, th {
  padding: 0.2em 0.5em
}

.ar {
  text-align: right
}

div.tabs, section {
  margin-bottom: 1.618em;
}

meter, meter::-webkit-meter-bar {
  background: none;
  background-color: #eee;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1618) inset;
  -moz-appearance: none
}

meter::-webkit-meter-optimum-value {
  background: none;
  background-color: #70b77e
}

button, input[type="button"], .btn {
  padding: .5em;
  outline: none;
  border: 0;
  color: #444;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1618);
  text-align: center
}

button:hover, input[type="button"]:hover {
  cursor: pointer
}

button:active, input[type="button"]:active, .btn:active {
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1618) inset
}
